// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

// VARIABLES
@import 'variables';

// GENERAL
body {
	font-family: 'Poppins', sans-serif;
	background-color: #F9F9F9;
	font-size: 16px;
}

a {
	transition: all ease .3s;
}

// LOGIN
.logoLogin {
	max-width: 100%;
}
.bglogin {
	background-color: #dad8d8;
	background-image: url('../img/bg.png');
	background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

	.logoLogin {
		width: 350px;
	}
}
.contLogin {
	background: #fff;
	border-radius: 5px;
	padding: 50px;
	color: #333;

	h2 {
		color: $color;
		font-size: 50px;
	    text-align: center;
	    font-weight: 600;
	    margin-bottom: 25px;
	}

	p {
		font-weight: 600;
	}
}
.formLogin {

	label {
		margin-bottom: 5px;
		font-weight: 600;
	}
	.form-control {
		border-radius: 10px;
	    padding: 16px 25px;
	    font-weight: 300;
	    background-color: $colorB;
	    border: none;

	    &.validation {
		    background-color: #ffd5d5;
		    color: #ff2e2e;
		}
	}
	.form-check-label {
		font-weight: 300;
	}
	a.forgotPass {
	    float: right;
	    color: #333;
	    text-decoration: none;
		font-weight: 600;

	    &:hover {
			text-decoration: underline;
	    }
	}
	button.btn {
	    width: 100%;
	    padding: 15px;
	    background-color: #fff;
	    color: $colorC;
	    border: 1px solid $colorC;
	    border-radius: 10px;
	}
    button.btn-outline-primary {
        max-width: 240px;
	    padding: 15px;
	    background-color: #fff;
	    color: $color;
	    border: 1px solid $color;
	    border-radius: 10px 10px 0px 0px;
    }
	.form-text {
	    margin-top: 20px;
	    color: #333;

	    a {
	    	color: #333;
	    	font-weight: 600;
			text-decoration: none;
	    }

	    &.validation {
		    color: #ff2e2e;
		    margin-top: 4px;
		    font-size: 13px;
	    }
	}

	.form-check-input[type=checkbox] {
		border-radius: 15px;
	    border-color: #9ab6dd;
	    border-width: 2px;
	}
}

@media (max-width: 900px){
	.bglogin {
		background-image: none;
	}
}
@media (max-width: 767px){
	.logoLogin {
		margin-top: 20px;
	    margin-bottom: 20px;
	    margin-left: auto;
	    margin-right: auto;
	    display: table;
	    height: 130px;
	    width: initial !important;
	}
}
@media (max-width: 500px){
	.contLogin {
	    padding: 30px;
		margin-bottom: 20px;
	}
}

// ALERTS
.alert {
    border-radius: 20px;
}
.alert-success {
    background: #e3f9e9;
    border-color: #e3f9e9;
    color: #2BC155;
}
.alert-warning {
    background: #fff0e5;
    border-color: #fff0e5;
    color: #FE8024;
}
.alert-danger {
    background: #ffc7c7;
    border-color: #ffc7c7;
    color: #FF2E2E;
}
.alert-info {
    background: #461EE7;
    color: #fff;
    border-color: #461EE7;
}

// LOGIN MESSAGE
.logoMessage {
	margin: 20px 0 40px;
	width: 350px;
	max-width: 100%;
}
@media (max-width: 767px){
	.logoMessage {
		margin-top: 20px;
	    margin-bottom: 20px;
	    margin-left: auto;
	    margin-right: auto;
	    display: table;
	    height: 130px;
	    width: initial !important;
	}
}

.card {
    border: 0px solid transparent;
    border-radius: 1.25rem;
    box-shadow: 0px 12px 23px 0px #ac39d40a;

	.card-header {
	    background-color: #fff;
	    border-bottom: 1px solid #00000020;
	}
	.card-title {
	    margin: 0;
	    padding: 5px 0;
	    font-size: 25px;
	}
}

h2.titleNoti {
	color: $color;
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
}
.textNoti {
	font-size: 20px;
	font-weight: 600;
	padding: 45px;

	a {
		color: $colorC;
	}
}

@media (max-width: 991px) {
	.bglogin {
		h2 {
			font-size: 30px !important;

			&.titleNoti {
				margin-top: 30px;
			}
		}
	}
}


// DASHBOARD
body.dashboard {
    display: flex;
}
#sidebar {
    min-width: 350px;
    padding: 35px;

    .logo {
    	margin-bottom: 35px;

    	img {
    		max-width: 100%;
    		width: 200px;
    	}
    }
    ul.menu {
	    padding: 0;
	    list-style: none;
	    margin: 0 0 35px;

	    li {
	    	margin-bottom: 5px;

	    	a {
	    		color: #7e7e7e;
	    		text-decoration: none;
	    		display: block;
	    		position: relative;
	    		padding: 10px 0;
	    		display: flex;
    			align-items: center;
    			font-size: 15px;

	    		&.has-arrow:after {
				    position: absolute;
				    content: "";
				    width: .5em;
				    height: .5em;
				    border-width: 1px 0 0 1px;
				    border-style: solid;
				    border-color: initial;
				    right: 1em;
				    -webkit-transform: rotate(-225deg) translateY(-50%);
				    transform: rotate(-225deg) translateY(-50%);
				    -webkit-transform-origin: top;
				    transform-origin: top;
				    top: 50%;
				    transition: all .3s ease-out;
				}

				&:hover {
					color: $color;
				}

				i {
				    font-size: 28px;
				    margin-right: 15px;
				    background-color: transparent;
				    width: 52px;
				    height: 52px;
				    border-radius: 50%;
				    text-align: center;
				    line-height: 52px;
				    transition: all ease .3s;
				}
	    	}

	    	&.mm-active {
	    		a {
	    			color: #000;

	    			i {
	    				background-color: $color;
	    				color: #fff;
	    			}
	    		}
	    		a.has-arrow:after {
				    -webkit-transform: rotate(-135deg) translateY(-50%);
				    transform: rotate(-135deg) translateY(-50%);
	    		}
	    	}

	    	ul.subMenu {
	    		margin: 0;
	    		padding: 0;
	    		text-decoration: none;
	    		padding-left: 68px;

	    		li {
	    			margin-bottom: 8px;

	    			&::marker {
	    				display: none;
	    				content: '';
	    			}
	    		}
	    	}
	    }
	}
	.footerNav {
	    font-size: 14px;
	    color: #969BA0;
	}
}

.hamburger {
    display: inline-block;
    left: 0px;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 26px;
    z-index: 999;
    cursor: pointer;

    .line {
	    background: $color;
	    display: block;
	    height: 3px;
	    border-radius: 3px;
	    margin-top: 6px;
	    margin-bottom: 6px;
	    margin-left: auto;
	    -webkit-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;

	    &:nth-child(1) {
		    width: 20px;
		}
	    &:nth-child(2) {
		    width: 26px;
		}
	    &:nth-child(3) {
		    width: 22px;
		}
	}
}

#content {
	width: 100%;

	.nav {
	    justify-content: space-between;
	    padding: 30px;

	    ul.userNav {
		    display: flex;
		    list-style: none;
		    padding: 0;
		    margin: 0;

		    li {
		    	margin: 0 25px;
		    	align-self: center;

		    	&.userLi a {
				    display: flex;
				    align-self: center;
				    align-items: center;

				    p {
				    	text-align: right;
				    	margin: 0;

				    	span {
				    		font-size: 14px;
				    	}
				    }

				    img {
					    height: 50px;
					    border-radius: 50%;
					    margin-left: 10px;
					}
				}

				a {
					color: #000;
					text-decoration: none;
					display: block;
					position: relative;

					span.numberNoti {
					    position: absolute;
					    width: 28px;
					    height: 28px;
					    background-color: $color;
					    text-align: center;
					    color: #fff;
					    border-radius: 27px;
					    font-size: 14px;
					    line-height: 28px;
					    top: -14px;
					    right: -24px;
					}
				}
		    }

		    .weather-detail {
			    background: #F0F4F5;
			    color: #424242;
			    height: 56px;
			    font-size: 14px;
			    font-weight: 500;
			    line-height: 56px;
			    padding-right: 15px;
			    border-radius: 4rem;

			    span {
				    height: 56px;
				    background: $color;
				    line-height: 56px;
				    font-size: 22px;
				    padding: 0px 20px;
				    margin-right: 10px;
				    border-radius: 4rem;
				    color: #fff;

				    i {
					    padding-right: 12px;
					    font-size: 25px;
					}
				}
			}
		}

		.nav-control {
		    display: flex;
		    align-items: center;

		    .dashboard_bar {
			    font-size: 28px;
			    font-weight: 600;
			    color: #000;
			    margin-left: 30px;
			}
			.search-area {
			    width: 300px;

			    .input-group-text {
				    background: #EFEFEF;
				    border-width: 0px;
				    padding-right: 0;
				    padding-left: 25px;
				    border-radius: 60px 0 0 60px !important;

				    i {
					    font-size: 25px;
					    line-height: 42px;
					}
				}

			    .form-control {
				    background: #EFEFEF !important;
				    border-width: 0px;
				    padding-left: 20px;
				    min-height: 55px;
				    border-radius: 0 60px 60px 0;
				}
			}
		}
	}
}

main {
    padding: 25px;

    .titleMain {
	    margin-bottom: 40px;

	    h1 {
		    font-size: 30px;
		    font-weight: 600;
		}

		a {
			color: $color;
			text-decoration: none;
		}
	}

	.card-header {
		h4 {
			a {
				float: right;
				background-color: $color;
				border: none !important;
			}
		}
	}

	.card-body {
	    padding: 30px;
	}

	.bgElipse {
		background-image: url('../img/elipse.png');
		background-repeat: no-repeat;
		background-position: bottom right;
		padding-bottom: 100px;
	}

	form {

		label {
			color: #7e7e7e;
			font-weight: 600;

			span {
			    color: red;
			    margin-left: 2px;
			}
		}
		.form-control,
		.form-select {
		    border-radius: 0;
		    padding: 15px;
		    border: 1px solid #f0f1f5;
		    font-weight: 300;
		    background-color: #d5f3dd;
    		border-radius: 20px;
		}
		input[type="file" i] {
		    padding-left: 22px !important;
		}

		.radioCont {
		    padding: 16px 0px;

		    .radio-inline {
		    	margin-right: 10px;
		    }
		}

		button.btn, a.btn {
		    margin-left: 10px;
		    font-weight: 500;
		}

		h4 {
			font-size: 18px;
			font-weight: 600;
			color: #7e7e7e;
			text-transform: uppercase;
		}
	}

	button.btn, a.btn {
	    padding: 10px 25px;
	    border-radius: 15px;
	    min-width: 175px;
	    font-weight: 300;
	    border: none;

	    &.btn-primary {
	    	background-color: $color;
	    }

	    &.btn-text {
	    	color: #aec5e4;
	    	font-weight: 600;
	    }
	}

	table {
		.sharp {
		    padding: 3px;
		    width: 26px;
		    height: 26px;
		    min-width: 26px;
		    min-height: 26px;
		    border-radius: 1.25rem;
		    line-height: 18px;
		    margin: 0 2px;

		    i {
		    	font-size: 14px;
		    }
		}
	}

	.dataTablesInfo {
	    display: flex;
	    float: left;
	    align-items: center;
	    padding: 15px 0;
	    width: 100%;
    	justify-content: space-between;

	    .showSelect {
		    align-items: center;
	    	display: flex;

		    select {
		    	margin: 0 15px;
		    	border-radius: 20px;
		    }
	    }
	    .dataTables_filter {

	    	input {
		    	border: 1px solid #e2e2e2;
			    padding: .3rem 0.5rem;
			    color: #715d5d;
			    border-radius: 5px;
			    margin-left: 0.5em;
	    	}
	    }
	 //    .dataTables_paginate {
		//     background: #F4F4F4;
		//     border-radius: 1.25rem;
		//     padding: 10px 0;
		// }
	}

 //    .dataTables_paginate {
	//     color: #333;
	//     text-align: center;

	//     .paginate_button {
	// 	    box-sizing: border-box;
	// 	    min-width: 1.5em;
	// 	    text-align: center;
	// 	    text-decoration: none !important;
	// 	    padding: 16px 25px;
	// 	    border: 0px solid $color !important;
	// 	    border-radius: 5rem;
	// 	    font-size: 16px;
	// 	    display: inline-block;
	// 	    cursor: pointer;

	// 	    &.current,
	// 	    &:hover {
	// 		    color: #fff !important;
	// 		    background: $color !important;
	// 		}
	// 	}

	// 	.paginate_button.previous, .paginate_button.next {
	// 	    background: #fff !important;
	// 	    color: $color !important;
	// 	    margin: 0 10px;
	// 	}
	// }

	.rowAddMore {
	    text-align: right;
	    align-self: flex-end;
	}
	hr {
	    background-color: #f9f9f9;
	}

	.verifyCont {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;

	    h3, h5 {
	    	margin: 0;
	    	font-size: 20px;
	    }
	    h5 {
	    	font-weight: 600;
    		line-height: 1.4;
    		min-width: 115px;
	    }
	}
}

.nav-wizard {
	li {
	    flex-basis: 0;
	    flex-grow: 1;
	    text-align: center;

	    .nav-link {
	    	position: relative;

	    	span {
			    border-radius: 50px;
			    width: 3rem;
			    height: 3rem;
			    border: 2px solid $color;
			    display: block;
			    line-height: 3rem;
			    color: $color;
			    font-size: 18px;
			    margin: auto;
			    background-color: #fff;
			    position: relative;
			    z-index: 1;
			}

			&:after {
				content: "";
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    height: 3px;
			    transform: translateY(-50%);
			    background: #f1f1f1 !important;
			    z-index: 0;
			    width: 100%;
			    transition: all .35s ease .15s;
			}
	    }
	    .nav-link.inactive {
		    color: #999;
		    cursor: not-allowed;
		}
	    .nav-link.active {
		    cursor: pointer;

		    span {
		    	background-color: $color;
		    	color: #fff!important;
		    }
		}

		&:last-child a:after {
			display: none;
		}
	}
}

// DATEPICKER
.dtp > .dtp-content > .dtp-date-view > header.dtp-header,
.dtp div.dtp-date, .dtp div.dtp-time,
.dtp table.dtp-picker-days tr > td > a.selected {
	background: $color;
}
.dtp .p10 > a {
	color: #333;
}

// DATATABLES
.dataTables_wrapper {

	.dataTables_filter {
	    float: right;
	    text-align: right;
	    margin-bottom: 25px;

	    label {
		    display: flex;
		    align-items: center;
		}

		input {
			margin-left: 8px;
		}
	}

	.dataTables_processing {
	    padding: 12px 20px;
	    background-color: $color;
	    color: #fff;
	    margin: 20px 0 10px;
	}

	.dataTables_info {
	    padding: 10px 0;
	    clear: both;
    	float: left;
	}
	.dataTables_paginate {
	    float: right;
    	text-align: right;
	}
}

.dataTables_wrapper .dataTables_paginate{
	background: #F4F4F4;
	border-radius: 1.25rem;
	padding: 10px 0;

	ul {
		margin: 0;
	}
	span{
		border-radius: 0;
		display: inline-block;
		margin: 0 0;

		a{
			color: #fff;
			background: transparent !important;
		}
	}
	.paginate_button {
		.page-link {
			border: 0 !important;
			padding: 16px 25px;
			border: none !important;
			background: transparent !important;
			border-radius: 5rem;
			color:$color !important;
			font-size:16px;
			margin:0;
			display:inline-block;
			&:hover{
				color: #fff !important;
				background: $color !important;
			}
		}

		&.active:hover a,
		&.active a {
			color: #fff !important;
			background: $color !important;
		}

		&.previous,
		&.next {
			.page-link {
				background: #fff!important;
				color:$color !important;
				margin: 0 10px;
				&:hover{
					background: $color !important;
					color: #fff !important;
				}
			}
		}
	}
}
