@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap);
body {
  font-family: "Poppins", sans-serif;
  background-color: #F9F9F9;
  font-size: 16px;
}

a {
  transition: all ease 0.3s;
}

.logoLogin {
  max-width: 100%;
}

.bglogin {
  background-color: #dad8d8;
  background-image: url(/images/bg.png?f8c26a5727c28256f6ee7464ad427a17);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
.bglogin .logoLogin {
  width: 350px;
}

.contLogin {
  background: #fff;
  border-radius: 5px;
  padding: 50px;
  color: #333;
}
.contLogin h2 {
  color: #1EAAE7;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}
.contLogin p {
  font-weight: 600;
}

.formLogin label {
  margin-bottom: 5px;
  font-weight: 600;
}
.formLogin .form-control {
  border-radius: 10px;
  padding: 16px 25px;
  font-weight: 300;
  background-color: #d5f3dd;
  border: none;
}
.formLogin .form-control.validation {
  background-color: #ffd5d5;
  color: #ff2e2e;
}
.formLogin .form-check-label {
  font-weight: 300;
}
.formLogin a.forgotPass {
  float: right;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
.formLogin a.forgotPass:hover {
  text-decoration: underline;
}
.formLogin button.btn {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  color: #71c07d;
  border: 1px solid #71c07d;
  border-radius: 10px;
}
.formLogin button.btn-outline-primary {
  max-width: 240px;
  padding: 15px;
  background-color: #fff;
  color: #1EAAE7;
  border: 1px solid #1EAAE7;
  border-radius: 10px 10px 0px 0px;
}
.formLogin .form-text {
  margin-top: 20px;
  color: #333;
}
.formLogin .form-text a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}
.formLogin .form-text.validation {
  color: #ff2e2e;
  margin-top: 4px;
  font-size: 13px;
}
.formLogin .form-check-input[type=checkbox] {
  border-radius: 15px;
  border-color: #9ab6dd;
  border-width: 2px;
}

@media (max-width: 900px) {
  .bglogin {
    background-image: none;
  }
}
@media (max-width: 767px) {
  .logoLogin {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    height: 130px;
    width: initial !important;
  }
}
@media (max-width: 500px) {
  .contLogin {
    padding: 30px;
    margin-bottom: 20px;
  }
}
.alert {
  border-radius: 20px;
}

.alert-success {
  background: #e3f9e9;
  border-color: #e3f9e9;
  color: #2BC155;
}

.alert-warning {
  background: #fff0e5;
  border-color: #fff0e5;
  color: #FE8024;
}

.alert-danger {
  background: #ffc7c7;
  border-color: #ffc7c7;
  color: #FF2E2E;
}

.alert-info {
  background: #461EE7;
  color: #fff;
  border-color: #461EE7;
}

.logoMessage {
  margin: 20px 0 40px;
  width: 350px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .logoMessage {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    height: 130px;
    width: initial !important;
  }
}
.card {
  border: 0px solid transparent;
  border-radius: 1.25rem;
  box-shadow: 0px 12px 23px 0px #ac39d40a;
}
.card .card-header {
  background-color: #fff;
  border-bottom: 1px solid #00000020;
}
.card .card-title {
  margin: 0;
  padding: 5px 0;
  font-size: 25px;
}

h2.titleNoti {
  color: #1EAAE7;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.textNoti {
  font-size: 20px;
  font-weight: 600;
  padding: 45px;
}
.textNoti a {
  color: #71c07d;
}

@media (max-width: 991px) {
  .bglogin h2 {
    font-size: 30px !important;
  }
  .bglogin h2.titleNoti {
    margin-top: 30px;
  }
}
body.dashboard {
  display: flex;
}

#sidebar {
  min-width: 350px;
  padding: 35px;
}
#sidebar .logo {
  margin-bottom: 35px;
}
#sidebar .logo img {
  max-width: 100%;
  width: 200px;
}
#sidebar ul.menu {
  padding: 0;
  list-style: none;
  margin: 0 0 35px;
}
#sidebar ul.menu li {
  margin-bottom: 5px;
}
#sidebar ul.menu li a {
  color: #7e7e7e;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
}
#sidebar ul.menu li a.has-arrow:after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  transform: rotate(-225deg) translateY(-50%);
  transform-origin: top;
  top: 50%;
  transition: all 0.3s ease-out;
}
#sidebar ul.menu li a:hover {
  color: #1EAAE7;
}
#sidebar ul.menu li a i {
  font-size: 28px;
  margin-right: 15px;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  text-align: center;
  line-height: 52px;
  transition: all ease 0.3s;
}
#sidebar ul.menu li.mm-active a {
  color: #000;
}
#sidebar ul.menu li.mm-active a i {
  background-color: #1EAAE7;
  color: #fff;
}
#sidebar ul.menu li.mm-active a.has-arrow:after {
  transform: rotate(-135deg) translateY(-50%);
}
#sidebar ul.menu li ul.subMenu {
  margin: 0;
  padding: 0;
  text-decoration: none;
  padding-left: 68px;
}
#sidebar ul.menu li ul.subMenu li {
  margin-bottom: 8px;
}
#sidebar ul.menu li ul.subMenu li::marker {
  display: none;
  content: "";
}
#sidebar .footerNav {
  font-size: 14px;
  color: #969BA0;
}

.hamburger {
  display: inline-block;
  left: 0px;
  position: relative;
  top: 3px;
  transition: all 0.3s ease-in-out 0s;
  width: 26px;
  z-index: 999;
  cursor: pointer;
}
.hamburger .line {
  background: #1EAAE7;
  display: block;
  height: 3px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}
.hamburger .line:nth-child(1) {
  width: 20px;
}
.hamburger .line:nth-child(2) {
  width: 26px;
}
.hamburger .line:nth-child(3) {
  width: 22px;
}

#content {
  width: 100%;
}
#content .nav {
  justify-content: flex-end;
  padding: 30px;
}
#content .nav ul.userNav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#content .nav ul.userNav li {
  margin: 0 25px;
  align-self: center;
}
#content .nav ul.userNav li.userLi a {
  display: flex;
  align-self: center;
  align-items: center;
}
#content .nav ul.userNav li.userLi a p {
  text-align: right;
  margin: 0;
}
#content .nav ul.userNav li.userLi a p span {
  font-size: 14px;
}
#content .nav ul.userNav li.userLi a img {
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
#content .nav ul.userNav li a {
  color: #000;
  text-decoration: none;
  display: block;
  position: relative;
}
#content .nav ul.userNav li a span.numberNoti {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #1EAAE7;
  text-align: center;
  color: #fff;
  border-radius: 27px;
  font-size: 14px;
  line-height: 28px;
  top: -14px;
  right: -24px;
}
#content .nav ul.userNav .weather-detail {
  background: #F0F4F5;
  color: #424242;
  height: 56px;
  font-size: 14px;
  font-weight: 500;
  line-height: 56px;
  padding-right: 15px;
  border-radius: 4rem;
}
#content .nav ul.userNav .weather-detail span {
  height: 56px;
  background: #1EAAE7;
  line-height: 56px;
  font-size: 22px;
  padding: 0px 20px;
  margin-right: 10px;
  border-radius: 4rem;
  color: #fff;
}
#content .nav ul.userNav .weather-detail span i {
  padding-right: 12px;
  font-size: 25px;
}
#content .nav .nav-control {
  display: flex;
  align-items: center;
}
#content .nav .nav-control .dashboard_bar {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  margin-left: 30px;
}
#content .nav .nav-control .search-area {
  width: 300px;
}
#content .nav .nav-control .search-area .input-group-text {
  background: #EFEFEF;
  border-width: 0px;
  padding-right: 0;
  padding-left: 25px;
  border-radius: 60px 0 0 60px !important;
}
#content .nav .nav-control .search-area .input-group-text i {
  font-size: 25px;
  line-height: 42px;
}
#content .nav .nav-control .search-area .form-control {
  background: #EFEFEF !important;
  border-width: 0px;
  padding-left: 20px;
  min-height: 55px;
  border-radius: 0 60px 60px 0;
}

main {
  padding: 25px;
}
main .titleMain {
  margin-bottom: 40px;
}
main .titleMain h1 {
  font-size: 30px;
  font-weight: 600;
}
main .titleMain a {
  color: #1EAAE7;
  text-decoration: none;
}
main .card-header h4 a {
  float: right;
  background-color: #1EAAE7;
  border: none !important;
}
main .card-body {
  padding: 30px;
}
main .bgElipse {
  background-image: url(/images/elipse.png?8d1c0cb04981770aaf9d60670e929190);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 100px;
}
main form label {
  color: #7e7e7e;
  font-weight: 600;
}
main form label span {
  color: red;
  margin-left: 2px;
}
main form .form-control,
main form .form-select {
  border-radius: 0;
  padding: 15px;
  border: 1px solid #f0f1f5;
  font-weight: 300;
  background-color: #d5f3dd;
  border-radius: 20px;
}
main form input[type=file i] {
  padding-left: 22px !important;
}
main form .radioCont {
  padding: 16px 0px;
}
main form .radioCont .radio-inline {
  margin-right: 10px;
}
main form button.btn, main form a.btn {
  margin-left: 10px;
  font-weight: 500;
}
main form h4 {
  font-size: 18px;
  font-weight: 600;
  color: #7e7e7e;
  text-transform: uppercase;
}
main button.btn, main a.btn {
  padding: 10px 25px;
  border-radius: 15px;
  min-width: 175px;
  font-weight: 300;
  border: none;
}
main button.btn.btn-primary, main a.btn.btn-primary {
  background-color: #1EAAE7;
}
main button.btn.btn-text, main a.btn.btn-text {
  color: #aec5e4;
  font-weight: 600;
}
main table .sharp {
  padding: 3px;
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  border-radius: 1.25rem;
  line-height: 18px;
  margin: 0 2px;
}
main table .sharp i {
  font-size: 14px;
}
main .dataTablesInfo {
  display: flex;
  float: left;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  justify-content: space-between;
}
main .dataTablesInfo .showSelect {
  align-items: center;
  display: flex;
}
main .dataTablesInfo .showSelect select {
  margin: 0 15px;
  border-radius: 20px;
}
main .dataTablesInfo .dataTables_filter input {
  border: 1px solid #e2e2e2;
  padding: 0.3rem 0.5rem;
  color: #715d5d;
  border-radius: 5px;
  margin-left: 0.5em;
}
main .rowAddMore {
  text-align: right;
  align-self: flex-end;
}
main hr {
  background-color: #f9f9f9;
}
main .verifyCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .verifyCont h3, main .verifyCont h5 {
  margin: 0;
  font-size: 20px;
}
main .verifyCont h5 {
  font-weight: 600;
  line-height: 1.4;
  min-width: 115px;
}

.nav-wizard li {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-wizard li .nav-link {
  position: relative;
}
.nav-wizard li .nav-link span {
  border-radius: 50px;
  width: 3rem;
  height: 3rem;
  border: 2px solid #1EAAE7;
  display: block;
  line-height: 3rem;
  color: #1EAAE7;
  font-size: 18px;
  margin: auto;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.nav-wizard li .nav-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  transform: translateY(-50%);
  background: #f1f1f1 !important;
  z-index: 0;
  width: 100%;
  transition: all 0.35s ease 0.15s;
}
.nav-wizard li .nav-link.inactive {
  color: #999;
  cursor: not-allowed;
}
.nav-wizard li .nav-link.active {
  cursor: pointer;
}
.nav-wizard li .nav-link.active span {
  background-color: #1EAAE7;
  color: #fff !important;
}
.nav-wizard li:last-child a:after {
  display: none;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header,
.dtp div.dtp-date, .dtp div.dtp-time,
.dtp table.dtp-picker-days tr > td > a.selected {
  background: #1EAAE7;
}

.dtp .p10 > a {
  color: #333;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  margin-bottom: 25px;
}
.dataTables_wrapper .dataTables_filter label {
  display: flex;
  align-items: center;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 8px;
}
.dataTables_wrapper .dataTables_processing {
  padding: 12px 20px;
  background-color: #1EAAE7;
  color: #fff;
  margin: 20px 0 10px;
}
.dataTables_wrapper .dataTables_info {
  padding: 10px 0;
  clear: both;
  float: left;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
}

.dataTables_wrapper .dataTables_paginate {
  background: #F4F4F4;
  border-radius: 1.25rem;
  padding: 10px 0;
}
.dataTables_wrapper .dataTables_paginate ul {
  margin: 0;
}
.dataTables_wrapper .dataTables_paginate span {
  border-radius: 0;
  display: inline-block;
  margin: 0 0;
}
.dataTables_wrapper .dataTables_paginate span a {
  color: #fff;
  background: transparent !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button .page-link {
  border: 0 !important;
  padding: 16px 25px;
  border: none !important;
  background: transparent !important;
  border-radius: 5rem;
  color: #1EAAE7 !important;
  font-size: 16px;
  margin: 0;
  display: inline-block;
}
.dataTables_wrapper .dataTables_paginate .paginate_button .page-link:hover {
  color: #fff !important;
  background: #1EAAE7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.active:hover a, .dataTables_wrapper .dataTables_paginate .paginate_button.active a {
  color: #fff !important;
  background: #1EAAE7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous .page-link, .dataTables_wrapper .dataTables_paginate .paginate_button.next .page-link {
  background: #fff !important;
  color: #1EAAE7 !important;
  margin: 0 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous .page-link:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.next .page-link:hover {
  background: #1EAAE7 !important;
  color: #fff !important;
}

.notificationCard {
  background-color: #dad8d8;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}
.notificationCard:last-child {
  margin-bottom: 0;
}
.notificationCard h2 {
  background-color: #1EAAE7;
  padding: 15px 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  border-bottom: 2px solid #fff;
}
.notificationCard ul.notificationList {
  padding: 0;
  margin: 0;
}
.notificationCard ul.notificationList li {
  padding: 25px;
  border-bottom: 1px solid #8a8989;
  background-image: url(/images/iso.png?b6fd559ad5a78b9e4bca8f8a91589289);
  background-repeat: no-repeat;
  background-position: 25px center;
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
}
.notificationCard ul.notificationList li:last-child {
  border: none;
}
.notificationCard ul.notificationList li.noNoti {
  color: #1EAAE7;
}
.notificationCard ul.notificationList .notiAction {
  min-width: 95px;
  align-self: center;
  text-align: center;
  margin-left: 30px;
}
.notificationCard ul.notificationList .notiAction .btn {
  min-width: initial !important;
  padding: 10px 15px;
}
