@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap);
body {
  font-family: "Poppins", sans-serif;
  background-color: #F9F9F9;
  font-size: 16px;
}

a {
  transition: all ease 0.3s;
}

.bglogin {
  background-color: #dad8d8;
  background-image: url(/images/bg.png?f8c26a5727c28256f6ee7464ad427a17);
  background-size: cover;
  background-position: center;
}

.contLogin {
  background: #fff;
  border-radius: 5px;
  padding: 50px;
  color: #333;
}
.contLogin h2 {
  color: #1EAAE7;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}
.contLogin p {
  font-weight: 600;
}

.formLogin label {
  margin-bottom: 5px;
  font-weight: 600;
}
.formLogin .form-control {
  border-radius: 10px;
  padding: 16px 25px;
  font-weight: 300;
  background-color: #d5f3dd;
  border: none;
}
.formLogin .form-control.validation {
  background-color: #ffd5d5;
  color: #ff2e2e;
}
.formLogin .form-check-label {
  font-weight: 300;
}
.formLogin a.forgotPass {
  float: right;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
.formLogin a.forgotPass:hover {
  text-decoration: underline;
}
.formLogin button.btn {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  color: #71c07d;
  border: 1px solid #71c07d;
  border-radius: 10px;
}
.formLogin .form-text {
  margin-top: 20px;
  color: #333;
}
.formLogin .form-text a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}
.formLogin .form-text.validation {
  color: #ff2e2e;
  margin-top: 4px;
  font-size: 13px;
}
.formLogin .form-check-input[type=checkbox] {
  border-radius: 15px;
  border-color: #9ab6dd;
  border-width: 2px;
}

@media (max-width: 767px) {
  .logoLogin {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}
@media (max-width: 500px) {
  .contLogin {
    padding: 30px;
    margin-bottom: 20px;
  }
}
.alert {
  border-radius: 20px;
}

.alert-success {
  background: #e3f9e9;
  border-color: #e3f9e9;
  color: #2BC155;
}

.alert-warning {
  background: #fff0e5;
  border-color: #fff0e5;
  color: #FE8024;
}

.alert-danger {
  background: #ffc7c7;
  border-color: #ffc7c7;
  color: #FF2E2E;
}

.alert-info {
  background: #461EE7;
  color: #fff;
  border-color: #461EE7;
}

.logoMessage {
  margin: 20px 0 40px;
}

.card {
  border: 0px solid transparent;
  border-radius: 1.25rem;
  box-shadow: 0px 12px 23px 0px #ac39d40a;
}
.card .card-header {
  background-color: #fff;
  border-bottom: 1px solid #00000020;
}
.card .card-title {
  margin: 0;
  padding: 5px 0;
  font-size: 25px;
}

h2.titleNoti {
  color: #1EAAE7;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.textNoti {
  font-size: 20px;
  font-weight: 600;
  padding: 45px;
}
.textNoti a {
  color: #71c07d;
}

@media (max-width: 991px) {
  .bglogin h2 {
    font-size: 30px !important;
  }
  .bglogin h2.titleNoti {
    margin-top: 30px;
  }
}
body.dashboard {
  display: flex;
}

#sidebar {
  min-width: 350px;
  padding: 35px;
}
#sidebar .logo {
  margin-bottom: 35px;
}
#sidebar ul.menu {
  padding: 0;
  list-style: none;
  margin: 0 0 35px;
}
#sidebar ul.menu li {
  margin-bottom: 20px;
}
#sidebar ul.menu li a {
  color: #7e7e7e;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#sidebar ul.menu li a.has-arrow:after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  transform: rotate(-225deg) translateY(-50%);
  transform-origin: top;
  top: 50%;
  transition: all 0.3s ease-out;
}
#sidebar ul.menu li a:hover {
  color: #1EAAE7;
}
#sidebar ul.menu li a i {
  font-size: 28px;
  margin-right: 15px;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  text-align: center;
  line-height: 52px;
  transition: all ease 0.3s;
}
#sidebar ul.menu li.mm-active a {
  color: #000;
}
#sidebar ul.menu li.mm-active a i {
  background-color: #1EAAE7;
  color: #fff;
}
#sidebar ul.menu li.mm-active a.has-arrow:after {
  transform: rotate(-135deg) translateY(-50%);
}
#sidebar ul.menu li ul.subMenu {
  margin: 0;
  padding: 0;
  text-decoration: none;
  padding-left: 68px;
}
#sidebar ul.menu li ul.subMenu li {
  margin-bottom: 8px;
}
#sidebar ul.menu li ul.subMenu li::marker {
  display: none;
  content: "";
}
#sidebar .footerNav {
  font-size: 14px;
  color: #969BA0;
}

.hamburger {
  display: inline-block;
  left: 0px;
  position: relative;
  top: 3px;
  transition: all 0.3s ease-in-out 0s;
  width: 26px;
  z-index: 999;
  cursor: pointer;
}
.hamburger .line {
  background: #1EAAE7;
  display: block;
  height: 3px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}
.hamburger .line:nth-child(1) {
  width: 20px;
}
.hamburger .line:nth-child(2) {
  width: 26px;
}
.hamburger .line:nth-child(3) {
  width: 22px;
}

#content .nav {
  justify-content: space-between;
  padding: 30px;
}
#content .nav ul.userNav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#content .nav ul.userNav li {
  margin: 0 25px;
  align-self: center;
}
#content .nav ul.userNav li.userLi a {
  display: flex;
  align-self: center;
  align-items: center;
}
#content .nav ul.userNav li.userLi a p {
  text-align: right;
  margin: 0;
}
#content .nav ul.userNav li.userLi a p span {
  font-size: 14px;
}
#content .nav ul.userNav li.userLi a img {
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
#content .nav ul.userNav li a {
  color: #000;
  text-decoration: none;
  display: block;
  position: relative;
}
#content .nav ul.userNav li a span.numberNoti {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #1EAAE7;
  text-align: center;
  color: #fff;
  border-radius: 27px;
  font-size: 14px;
  line-height: 28px;
  top: -14px;
  right: -24px;
}

main {
  padding: 25px;
}
main .titleMain {
  margin-bottom: 40px;
}
main .titleMain h1 {
  font-size: 30px;
  font-weight: 600;
}
main .card-body {
  padding: 30px;
}
main form label {
  color: #7e7e7e;
  font-weight: 300;
}
main form .form-control,
main form .form-select {
  border-radius: 0;
  padding: 15px;
  border: 1px solid #f0f1f5;
  font-weight: 300;
}
main form input[type=file i] {
  padding-left: 22px !important;
}
main button.btn {
  padding: 15px 25px;
  border-radius: 20px;
  min-width: 140px;
  font-weight: 300;
  background-color: #1EAAE7;
  border: none;
}

.nav-wizard li {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-wizard li .nav-link {
  position: relative;
}
.nav-wizard li .nav-link span {
  border-radius: 50px;
  width: 3rem;
  height: 3rem;
  border: 2px solid #1EAAE7;
  display: block;
  line-height: 3rem;
  color: #1EAAE7;
  font-size: 18px;
  margin: auto;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.nav-wizard li .nav-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  transform: translateY(-50%);
  background: #f1f1f1 !important;
  z-index: 0;
  width: 100%;
  transition: all 0.35s ease 0.15s;
}
.nav-wizard li .nav-link.inactive {
  color: #999;
  cursor: not-allowed;
}
.nav-wizard li .nav-link.active {
  cursor: pointer;
}
.nav-wizard li .nav-link.active span {
  background-color: #1EAAE7;
  color: #fff !important;
}
.nav-wizard li:last-child a:after {
  display: none;
}
